<form method="post">
  <h1 class="text-center">STUDENT</h1>
  <div class="form-group">
    <label for="exampleFormControlInput1">Hall No</label>
    <input type="text" class="form-control" name="hall_no"  id="exampleFormControlInput1" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">No:of benches</label>
    <input type="number" class="form-control" name="bench" id="exampleFormControlInput1" placeholder="10">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Max Capacity</label>
    <input type="number" class="form-control" name="maxcapacity" id="exampleFormControlInput1" placeholder="50">
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>