<form>
  <h1 class="text-center">STAFF</h1>
  <div class="form-group">
    <label for="exampleFormControlInput1">Staff Name</label>
    <input type="name"  name="sfName"class="form-control" id="exampleFormControlInput1" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Department</label>
    <select class="form-control" name="sfDept" id="exampleFormControlSelect1">
      <option>BCA</option>
      <option>BCom</option>
      <option>English</option>
     
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Semester</label>
    <select class="form-control" name="Sem"id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
   
</form>