<form method="post">
  <h5 class="card-title">Subject</h5>

  <div class="form-group">
    <label for="exampleFormControlInput1">Select Department</label>
    <select id="selstaff" name="Dept" class="form-select" aria-label="Default select example">
      <option value='' selected>Select Department</option>
      {{#each dept}}
      <option value='{{this._id}}'>{{this.Name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Subject</label>
    <input type="text" class="form-control" name="subject" id="exampleFormControlInput1" placeholder="Java">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Modules</label>
    <select class="form-control" name="modules" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</ption>
      <option>3</option>
      <option>4</option>
      <option>5</ption>
      <option>6</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Semester</label>
    <select class="form-control" name="semester" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</ption>
      <option>3</option>
      <option>4</option>
      <option>5</ption>
      <option>6</option>
    </select>
  </div>
  {{#if found}}
  <div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
  </div>
  {{/if}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>