<form method="post">
    <h5 class="card-title">Subject</h5>

    <div class="form-group">
        <label for="exampleFormControlInput1">Select Department</label>
        <select id="selstaff" id="Dept" name="Dept" onchange="GetSubject(this)" class="form-select"
            aria-label="Default select example">
            <option value='' selected>Select Department</option>
            {{#each dept}}
            <option value='{{this._id}}'>{{this.Name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Select Subject</label>
        <select id="selstaff" id="subject" name="subject" class="form-select" aria-label="Default select example">
            <option value='' selected>Subject</option>
        </select>
    </div>
    {{#if found}}
    <div class="alert alert-danger" role="alert">
        This is a danger alert—check it out!
    </div>
    {{/if}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    function GetSelectedTextValue(ddlFruits) {
        var selectedText = ddlFruits.options[ddlFruits.selectedIndex].innerHTML;
        var selectedValue = ddlFruits.value;
        alert("Selected Text: " + selectedText + " Value: " + selectedValue);
    }

    function GetSubject(deptId) {
        var id = deptId.value;

        //alert(id);
        selectSub(id);
    }

    function selectSub(deptId) {
        alert("iam");
        var id = deptId
        $.ajax({
            url: '/admin/get-sub/' + id,
            method: "GET",
            success: ((response) => {
                if (response) {
                    alert("assigned");
                    var select = document.getElementById("subject");
                    for (var i = 0; i < response.length; i++){
                        alert("assigned"+i);
                    }
                }else {
        alert(123);
    }
                
                
            })
        })
   }
</script>