<form method="post">
  <h1 class="text-center">STUDENT</h1>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Semester</label>
    <select class="form-control" name="semester" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Enter hall name</label>
    <input type="name" class="form-control" name="halls"  id="exampleFormControlInput1" placeholder="B13,b14,412,521">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect2">Students Per Bench</label>
    <select class="form-control" name="studperBench" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>