<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/login">Login<span class="sr-only"></span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
    
    </ul>
  </div>
</nav>


 <section>
  <form class="form-inline text-center mt-5">
    <a class="btn btn-outline-success"  href="/admin/add-staff">Add-Staff</a>
    <a class="btn btn-outline-secondary" href="/admin/add-student">Add-Student</a>
  </form>

 </section>
</nav>