<section>
    
<form action="/student/upl-assignment/:id"  method="post"  enctype="multipart/form-data">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" name="assigNAME" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Upload your Assignments</label>
  <input class="form-control"  name="assignment"type="file" id="formFile">
</div>
  
 <button type="submit" class="btn btn-primary">Submit</button>
 



</form>















    </section>