<form action="/staff/save-note" method="post">
    <h5 class="card-title">Subject</h5>

    <div class="form-group">
        <label for="exampleFormControlInput1">Select Department</label>
        <select id="topic" name="topic" onchange="getNote(this)" class="form-select"
            aria-label="Default select example">
            <option value='' selected>Select Department</option>
            {{#each module}}
            <option value='{{this}}'>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3">Notes</label>
        <textarea class="form-control" name="notes" id="moduleData" rows="7"></textarea>
    </div>

    <button type="submit" id="sub" class="btn btn-primary" >Submit</button>
</form>


{{!-- <script>
    function getNote(keyword) {
        var topic = keyword.value;
        alert(topic);
        $.ajax({
            url:'/assigned-notes/'+topic,
            method: "GET",
            success: ((response) => {
                document.getElementById("moduleData").value = response;
                alert(response);
                document.getElementById("sub").disabled = false;
            })
        })
    }
</script> --}}