<section>

    <div class="form-group">
    <label for="exampleFormControlInput1">Subject</label>
    <input type="text" class="form-control" name="subject" id="exampleFormControlInput1" placeholder="Java">
  </div>
   <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3">Module 1</label>
        <textarea class="form-control" name="module1" id="exampleFormControlTextarea3" rows="7"></textarea>
    </div>

    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3">Module 2</label>
        <textarea class="form-control" name="module2" id="exampleFormControlTextarea3" rows="7"></textarea>
    </div>

    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3">Module 3</label>
        <textarea class="form-control" name="module3" id="exampleFormControlTextarea3" rows="7"></textarea>
    </div>

    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3">Module 4</label>
        <textarea class="form-control" name="module4" id="exampleFormControlTextarea3" rows="7"></textarea>
    </div>

    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3">Module 5</label>
        <textarea class="form-control" name="module5" id="exampleFormControlTextarea3" rows="7"></textarea>
    </div>
    <br><br>

</section>